dist/
dist-*/
node_modules/
.turbo/
tmp/
.idea/
*.less.d.ts
*.scss.d.ts
generated/

# vite
.vite-inspect/
vite.config.ts.timestamp*
/stats.html
/stats.*

# play
/demo/
# privacy
src/define/watchlater-full.json
*.api.json
